.about-event
  wrapped(50%)
  text-align left

.event-data
  wrapped(50%)
  padding-bottom 10rem

.eventPitches
  background #511694 url('/img/events/event-octubre.png') no-repeat left bottom
  display flex
  flex-wrap wrap
  padding-top 4rem

.pitches
  width 100%
  wrapped(50%)
  display flex
  justify-content space-between
  line-height 3rem
  padding-top 100px
  padding-bottom 100px

.pitches-list
  list-style none
