// Wrapper without another div
wrapped($n = 1120px)
  padding-left 'calc(50% - (%s / 2))' % $n
  padding-right 'calc(50% - (%s / 2))' % $n
  
// Wrapper just left side
wrapped-left($n = 1120px)
  padding-left 'calc(50% - (%s / 2))' % $n

// Wrapper just left side
wrapped-right($n = 1120px)
  padding-right 'calc(50% - (%s / 2))' % $n
  
// Soft Shadow
shadow()
  box-shadow 0 11px 16px 0 rgba(14, 21, 32, .17)