.btn
  background-color transparent
  font-family 'Oswald', sans-serif
  padding .5rem 2rem
  text-decoration none
  color white
  
  &--primary
    max-width 200px
    margin-top 2rem
    font-weight 600
    border 2px solid $primary
    transition 350ms all ease-in-out
    
    &:hover
      background-color $primary