.gallery-slider

  .slick-slide
    height 85vh
    overflow hidden

.gallery-nav

  .slick-slide
    height 15vh
    overflow hidden
    opacity .3
    transition 350ms all ease-in-out

  .slick-slide:hover
  .slick-current
    opacity 1

  .slick-current:after
    content ''
    position absolute
    top 1rem
    right 1rem
    bottom 1rem
    left 1rem
    border 1px solid $primary

.slick-slide
  position relative

  img
    width 100%
    position absolute
    top 50%
    transform translateY(-50%)

.slick-arrow
  background-color transparent
  border none
  position absolute
  z-index: 10
  top 50%
  transform translateY(-50%)
  padding 0

  img
    display block

.slick-prev
  left 2rem

.slick-next
  right 2rem
