.mainNav
  display flex
  
.mainNav-item
  padding .5rem .5rem .5rem 12px
  margin-right 1.5rem
  text-decoration none
  text-transform uppercase
  text-align center
  font-family 'Oswald', sans-serif
  font-size 18px
  letter-spacing 4px
  color white
  border 2px solid transparent
  transition 350ms all ease-in-out
  
  &:last-child
    margin-right 0
    
  &:hover
  &.is-active
    border 2px solid $primary