.main
  width 100%
  height 100vh
  display flex
  flex-direction column
  align-items center
  justify-content center
  background-position center
  background-repeat no-repeat
  text-align center

  &--home
    background-image url('/img/main-bg.jpg')
    background-image linear-gradient(-180deg, rgba($black, 0) -20%, $black 100%), url('/img/main-bg.jpg')
    background-size cover

  &--octubre-2016
    background-image url('/img/main-bg.jpg')
    background-image linear-gradient(-180deg, rgba($black, 0) -20%, $black 100%), url('/img/events/event-01.jpg')
    background-size cover
    text-align left
    align-items flex-start

  &--abril-2017
    background-image url('/img/main-bg.jpg')
    background-image linear-gradient(-180deg, rgba($black, 0) -20%, $black 100%), url('/img/events/event-02.jpg')
    background-size cover
    text-align left
    align-items flex-start
